.MyTable{
    justify-content: center;
    display: flex;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 10px #F2906B;
    color: #452F21;

}

th {
    padding: 10px 8px;
    background: white;
}

table th:first-child {
    border-top-left-radius: 20px;
}

table th:last-child {
    border-top-right-radius: 20px;
}

td {
    border-top: 10px solid #F2906B;
    padding: 8px;
    background: white;
}

table td:first-child {
    border-bottom-left-radius: 20px;
}

table td:last-child {
    border-bottom-right-radius: 20px;
}

a.addButton {
    display: inline-block;
    width: 5em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0,0,0);
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 2px;
    background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
    box-shadow: 0 0 3px rgba(0,0,0,0) inset, 0 1px 1px 1px rgba(255,255,255,.2), 0 -1px 1px 1px rgba(0,0,0,0);
    transition: .2s ease-in-out;
}

    a.button21:hover:not(:active) {
        box-shadow: 0 0 3px rgba(0,0,0,0) inset, 0 1px 1px 1px rgba(0,255,255,.5), 0 -1px 1px 1px rgba(0,255,255,.5);
    }

    a.button21:active {
        background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
        box-shadow: 0 0 3px rgba(0,0,0,.5) inset, 0 1px 1px 1px rgba(255,255,255,.4), 0 -1px 1px 1px rgba(0,0,0,.1);
    }

th {
    text-align: center;
}